
  <div class="profile icon-box pointer animated delay-0s {{comeOutAnimation}} opened" [ngClass]="{'closed': category_index != 0, 'highlighted': selected_index == 0}">
    <div class="icon-field">
        <i class="material-icons">
          info_outline
        </i>
    </div>
    <div class="text">
      <p class="name">Perfil</p>
      <div>
        <p class="title">Ubicación</p>
        <p>{{getUbicacion(jugador.provincia, jugador.code)}}</p>
      </div>
      <div>
        <p class="title">Pasaporte</p>
        <p>aaa</p>
      </div>
      <div>
        <p class="title">Fecha de Nacimiento</p>
        <p>{{jugador.fecha_nacimiento ? jugador.fecha_nacimiento : "24 Abril 1990"}}</p>
      </div>
      <div>
        <p class="title">
          <span>Edad</span>
          <span>Altura</span>
          <span>Peso</span>
        </p>
        <p>
          <span>{{jugador.edad}}</span>
          <span>{{formatHeight(jugador.altura)}}</span>
          <span>{{jugador.peso}}</span>
        </p>
      </div>
    </div>
    <i *ngIf="category_index == 0" #closeBtn class="close material-icons pointer" (click)="onClose()">
      close
    </i>
  </div>

  <div class="valucation icon-box pointer animated delay-0s {{comeOutAnimation}} opened" [ngClass]="{'closed': category_index != 1, 'highlighted': selected_index == 1}">
    <div class="icon-field">
        <i class="material-icons">
          attach_money
        </i>
    </div>
    <div class="text">
      <p class="name">Valuación Estimada</p>
    </div>
    <i *ngIf="category_index == 1" #closeBtn class="close material-icons pointer" (click)="onClose()">
      close
    </i>
  </div>

  <div class="valucation icon-box pointer animated delay-0s {{comeOutAnimation}} opened" [ngClass]="{'closed': category_index != 2, 'highlighted': selected_index == 2}">
    <div class="icon-field">
        <i class="material-icons">
          share
        </i>
    </div>
    <div class="text">
      <p class="name">Redes</p>
    </div>
    <i *ngIf="category_index == 2" #closeBtn class="close material-icons pointer" (click)="onClose()">
      close
    </i>
  </div>

  <div class="imagenes icon-box pointer animated delay-0s {{comeOutAnimation}} opened" [ngClass]="{'closed': category_index != 3, 'highlighted': selected_index == 3}">
    <div class="icon-field">
        <i class="material-icons">
          image_outline
        </i>
    </div>
    <div class="text">
      <p class="name">Imágenes Videos</p>
    </div>
    <i *ngIf="category_index == 3" #closeBtn class="close material-icons pointer" (click)="onClose()">
      close
    </i>
  </div>

  <div class="trayectoria icon-box pointer animated delay-0s {{comeOutAnimation}} opened" [ngClass]="{'closed': category_index != 4, 'highlighted': selected_index == 4}">
    <div class="icon-field">
      <i class="material-icons">
        history
      </i>
    </div>
    <div class="text">
      <p class="name">Trayectoria</p>
    </div>
    <i *ngIf="category_index == 4" #closeBtn class="close material-icons pointer" (click)="onClose()">
      close
    </i>
  </div>

  <div class="biografia icon-box pointer animated delay-0s {{comeOutAnimation}} opened" [ngClass]="{'closed': category_index != 5, 'highlighted': selected_index == 5}">
    <div class="box">
      <div class="icon-field">
          <i class="material-icons">
            list_alt
          </i>
      </div>
      <div class="text">
        <p class="name">Biografía</p>
      </div>
      <div class="contents">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. 
      </div>
    </div>
    <i *ngIf="category_index == 5" #closeBtn class="close material-icons pointer" (click)="onClose()">
      close
    </i>
  </div>

  <div class="last icon-box pointer animated delay-0s {{comeOutAnimation}} opened" [ngClass]="{'closed': category_index != 6, 'highlighted': selected_index == 6}">
    <div class="icon-field">
        <i class="material-icons">
          list_alt
        </i>
    </div>
    <div class="text">
      <p class="name">Biografía</p>
    </div>
  </div>