.icon-box {
  text-align: left;
  margin-top: unset !important;
  // margin-left: calc(50% - 135px);
  font-family: Karla;
  height: 98%;
  width: 270px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background: rgba(0,0,0,0.4);
  box-shadow: 0 2px 13px 0 rgba(0,0,0,0.6);
  display: inline-flex;
  opacity: 0.44;
  padding: 2px 10px;
}

.icon-box .box {
  overflow-y: auto;
  position: sticky;
}

.last.icon-box {
  border: unset;
  opacity: 0 !important;
  background: rgba(0,0,0,0) !important;
}
.icon-box.highlighted {
  opacity: 1;
}

.icon-box.closed {
  display: none;
}

.profile.icon-box {
  height: 225px;
}
.icon-box .material-icons{
  font-size: 30px;
  margin: 14px 4px;
  color: #fff;
  width: 30px;
}

.icon-box .icon-field,
.icon-box .text {
  display: inline-block;
  position: absolute;
}

.icon-box .text {
  margin-top: 20px;
  margin-left: 45px;
  color: white !important;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.icon-box .text .title {
  font-weight: bold !important;
}

.icon-box .text p {
  margin: unset;
  color: white !important;
  min-height: unset;
}

.icon-box .text p span {
  width: 53px;
  display: inline-block;
  margin-right: 6px;
}

.icon-box .text .name {
  margin: unset;
  font-weight: bold;
  margin-bottom: 7px;
  font-size: 20px;
}

.profile.icon-box .text div{
  margin-bottom: 5px;
}

.biografia .contents {
  margin-top: 46px;
  width: 100%;
  padding: 3px 10px 5px 10px;
  color: #FFFFFF !important;
  font-size: 16px;
  line-height: 19px;
  // letter-spacing: -.3px;
}

.close {
  position: absolute;
  margin-left: 220px !important;
  margin-top: 7px !important;
  font-weight: 100;
  opacity: 1;
  width: 30px;
  color: #fff !important;
}